{% extends 'base.html.twig' %}

{% block content %}

  <div class="col-sm-12">

      <form action="{{ path ('login') }} " class="form-signin col-sm-6" method="POST" >
      
        <h2 class="form-signin-heading">Login para painel administrativo Nesef</h2>
    
        <label for="username" class="sr-only">Usuário</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nome de usuário" required autofocus>
    
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      
      </form>

  </div>

  {% endblock %}